.grid-box {
    display: grid;
    background-color: whitesmoke;
    grid-gap: 15px;
    padding: 15px;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(2,1fr);
    height: 95vh;
    grid-template-areas:
            "a1 a2 a3 a3 a3 a4 a4 "
            "a5 a6 a6 a7 a7 a8 a8"

;


}

.grid-box>div {
    background-size: cover;
    background-position: center;
}

.grid-box>div:nth-child(1) {
    grid-area: a1;
}
.grid-box>div:nth-child(2) {
    grid-area: a2;
}
.grid-box>div:nth-child(3) {
    grid-area: a3;
}
.grid-box>div:nth-child(4) {
    grid-area: a4;
}
.grid-box>div:nth-child(5) {
    grid-area: a5;
}
.grid-box>div:nth-child(6) {
    grid-area: a6;
}
.grid-box>div:nth-child(7) {
    grid-area: a7;
}
.grid-box>div:nth-child(8) {
    grid-area: a8;
}