
.nav{

background-color:#A9F5A9;
}
a:hover {
    background:green;

}
.nav2{
    text-align: center;
}

.news{

     background: url(images/bg_news.gif) no-repeat;
     padding: 20px;
     margin-left: 20px;
    display: inline-grid;
    margin-top: 80px;


 }
.images2{

    background: url(images/bg_news.gif) no-repeat;
    padding: 20px;
    margin-right:  20px;
    display: inline-block;
    margin-top: 90px;
}
.nes{
list-style-type: none;
}
